.git
.github
.idea
.gradle
build/
target/
jbrowse/
src/main/webapp/jbrowse/
src/main/webapp/annotator/
src/main/webapp/WEB-INF/
src/main/gwt-unitCache/
docs/
devDb.*
apollo2Db.*
apollo_data/
*.log
docker-compose.yml
test-*.sh
run-all-tests.sh
test-helpers.sh
