Thumbs.db
.DS_Store
.gradle
build/
target/
out/
jbrowse/
src/main/webapp/jbrowse/
src/main/webapp/annotator/
src/main/webapp/WEB-INF/
src/main/gwt-unitCache/
devDb.*
apollo2Db.*
node_modules/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
