.idea/**
apollo.i*
*.swp
*.swo
target/**
config.properties
config.xml
blat_config.xml
.project
.classpath
*.iml
*.ipr
*.iws
out
web-app/jbrowse
jbrowse-github
jbrowse-download
log4j2.json
log4j2-test.json
tmp
version.jsp
update_client.sh
*.log
apollo-config.groovy
gwt-unitCache/**
web-app/WEB-INF/deploy/**
web-app/annotator/**
/extlib/
setup.log
/src/perl5/
/bin/
/site/
docs/Makefile
.gradle
.slcache
restapi.doc
package-lock.json
jb_run.js
jb_setup.js
