sudo: false
env:
- DB=postgres
- DB=mysql
- DB=h2
addons:
  postgresql: "9.3"
services:
- postgresql
- mysql
before_script:
- if [ ${DB} == "mysql" ]; then cp config/mysql.travis apollo-config.groovy; mysql -e 'create database apollo'; fi;
- if [ ${DB} == "postgres" ]; then cp config/postgres.travis apollo-config.groovy; psql -c 'create database apollo;' -U postgres; fi;
language: groovy
cache:
  directories:
    - extlib/
    - $HOME/.grails/
    - $HOME/.m2/
    - jbrowse-download/
script:
    - ant copy-resources gwtc && ./grailsw refresh-dependencies --stacktrace && ./grailsw test-app --stacktrace
    - node web-app/jbrowse/src/dojo/dojo.js load=build --require "web-app/jbrowse/src/JBrowse/init.js" --profile "web-app/jbrowse/plugins/WebApollo/js/WebApollo"
