sudo: false
env:
- DB=postgres
- DB=mysql
- DB=h2
addons:
  postgresql: "9.3"
services:
- postgresql
- mysql
before_install:
- npm install -g jshint bower
before_script:
- if [ ${DB} == "mysql" ]; then cp test/config/mysql.travis apollo-config.groovy; mysql -e 'create database apollo'; fi;
- if [ ${DB} == "postgres" ]; then cp test/config/postgres.travis apollo-config.groovy; psql -c 'create database apollo;' -U postgres; psql -c 'create database apollo_chado' -U postgres; gunzip -c chado-schema-with-ontologies.sql.gz | psql -U postgres -h localhost -d apollo_chado; fi;
language: groovy
cache:
  directories:
    - extlib/
    - $HOME/.grails/
    - $HOME/.m2/
    - jbrowse-download/
script:
    - travis_wait ./gradlew handleJBrowse copy-resources gwtc && ./grailsw refresh-dependencies --stacktrace && ./grailsw test-app -coverage -xml --stacktrace
    - node web-app/jbrowse/src/dojo/dojo.js load=build --require "web-app/jbrowse/src/JBrowse/init.js" --profile "web-app/jbrowse/plugins/WebApollo/js/WebApollo"
    - jshint client/apollo/js
after_success:
  - ./grailsw coveralls
