.form-control {
    font-size: 12px !important;
    height: 30px !important;
}

.input-group-addon {
    font-size: 12px !important;
}

.btn {
    font-size: 12px !important;
}

/*.demo-FlowPanelExample-draggable {*/

/*}*/

/*.demo-FlowPanelExample-label {*/

/*}*/