.form-control {
    font-size: 12px !important;
    height: 30px !important;
}

.input-group-addon {
    font-size: 12px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.btn {
    font-size: 12px !important;
}

.snackbarRight {
    position: fixed;
    right: 10px;
    top: 48%;
    z-index: 1000;
    opacity: 80;
    /*rotation: 90deg;*/
    /*background-color: black;*/
    /*color: yellowgreen;*/
}

.track-link {
    width: 5px;
    /*display: inline !important;*/
    /*cursor: pointer;*/
    /*font-size: small;*/
    /*margin-left: 5px;*/
    /*padding-left: 5px;*/
}

.track-link:hover {
    /*display: inline !important;*/
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.track-slider {
    /*display: inline ;*/
    /*margin-right: 5px;*/
    /*padding-right: 5px;*/
}

.track-entry {
    padding-top: 1px !important;
    padding-bottom: 5px !important;
}

.track-edit-button {
    padding-bottom: 1px !important;
    padding-top: 0 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin: 0 !important;
    display: inline;
    height: 15px;

}

.track-header {
    display: inline;
    cursor: pointer;
    font-size: medium;
}

.text-html-left {
    padding: 0;
    margin: 0;
    display: inline;
}

.text-left {
    text-align: left !important;
    background-color: white !important;
    padding-top: 4px !important;
}

.panel-select {
    background-color: #f5f5f5 !important;
    border: none !important;
    padding: 0 0 0 5px !important;
}

.selected-track-link {
    font-weight: bolder;
    background-color: lightgrey !important;
    color: cadetblue !important;
}

.dropdown-menu{
    width: 600px;
}

.dropdown-menu .item {
    padding: 5px;
    width: 600px;
}

.dropdown-menu .item-selected {
    background-color: #eee;
    width: 600px;
}