@CHARSET "UTF-8";

.parent_annotation_info_editor {
	font-size: 1.2em;
	width: 22em !important;
	border-min-width: 1px;
	border-right: dotted;
	padding-right: 4%;
	float: left;
}

.annotation_info_editor {
	font-size: 1.2em;
	width: 22em !important;
	padding-right: 1%;
	float: right;
}

.annotation_info_editor_container {
	padding-bottom: 15%;
}

.annotation_info_editor_header {
	font-size: 1.3em;
	text-align: center;
	padding-bottom: 5px;
}

.dbxrefs {
	min-width: 100%;
	min-height: 7em;
	border: solid;
	border-width: 1px;
	border-color: lightgray;
}

.alt_alleles {
    min-width: 100%;
    min-height: 7em;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
}


.allele_info {
	min-width: 100%;
	min-height: 7em;
	border: solid;
	border-width: 1px;
	border-color: lightgray;
}

.variant_info {
    min-width: 100%;
    min-height: 7em;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
}

.phenotype_ontology_ids {
    min-width: 100%;
    min-height: 7em;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
}

.attributes {
	min-width: 100%;
	min-height: 7em;
	border: solid;
	border-width: 1px;
	border-color: lightgray;
}

.pubmed_ids {
	min-width: 100%;
	min-height: 7em;
	border: solid;
	border-width: 1px;
	border-color: lightgray;
}

.go_ids {
	min-width: 100%;
	min-height: 7em;
	border: solid;
	border-width: 1px;
	border-color: lightgray;
}

.comments {
	min-width: 100%;
	min-height: 10em;
	border: solid;
	border-width: 1px;
	border-color: lightgray;
}

.annotation_info_editor_content {
	font-size: 1.5em;
}

.annotation_info_editor_section_header {
	text-align: center;
}

.annotation_info_editor_label {
	text-align: right;
	padding-right: 10px;
	float: left;
}

.annotation_info_editor_section {
	padding-top: 20px;
}

.annotation_info_editor_field_section {
	padding-bottom: 1em;
	padding-top: 0.5em;
}

.annotation_info_editor_button_group {
	/*
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	*/
}

.annotation_info_editor_button {
	width: 5em;
	margin-right: 2.5px;
	margin-left: 2.5px;
}

.comments .dojoxGridHeader,
.pubmed_ids .dojoxGridHeader,
.go_ids .dojoxGridHeader,
.phenotype_ontology_ids .dojoxGridHeader {
	display: none;
}

.annotation_editor_field {
	float: right;
}

.status {
	border: 1px;
	border-style: solid;
	border-color: lightgray;
	padding: 0.5em;
	overflow-y: auto;
	max-height: 2em;
}

.annotation_info_editor_radio {
/*	padding-right: 1em; */
	display: inline-block;
}

.annotation_info_editor_radio_label {
}

.ui-autocomplete {
	max-width: 75%;
}

.annotation_info_editor_selector {
	margin-bottom: 1.5em;
}

.annotation_info_editor_selector_label {
	text-align: right;
	padding-right: 10px;
	float: left;
}