@CHARSET "UTF-8";

.jbrowse .comments {
	width: 58em;
}

.jbrowse .comment_header {
	font-size: 1.5em;
	margin-bottom: 5px;
}

.jbrowse .comment_area {
	width: 40em;
	height: 3.5em;
}

.jbrowse .comment_button {
	height: 2.5em;
}

.jbrowse .comment_add_button_div {
	margin-top: 5px;
}

.jbrowse .parent_comments_div {
	margin-bottom: 10px;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	padding-bottom: 10px;
}