@CHARSET "UTF-8";

.jbrowse .dbxrefs {
	width: 39em;
}

.jbrowse .dbxref_header {
	font-size: 1.5em;
	margin-bottom: 5px;
}

.jbrowse .dbxref_table_header_field {
	margin-right:5em;
}

.jbrowse .dbxref_field {
	margin-right:3px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.jbrowse .dbxref_button {
}

.jbrowse .dbxref_add_button_div {
	margin-top: 5px;
}

.jbrowse .parent_dbxrefs_div {
	margin-bottom: 10px;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	padding-bottom: 10px;
}