/* tweak the style of the powered_by link that has the WA logo in it */
.menuBar .powered_by {
    height: 27px;
    background: white;
    border-right: 1px solid rgb(156,156,156);
    position: relative;
    top: -1px;
}
.menuBar .powered_by > img {
    position: relative;
    top: 1px;
}

.menuBar .user .icon {
    height: 16px;
    width: 16px;
    margin-right: 2px;
    margin-top: -2px;
    display: inline;
    display: inline-block;
    background: url("img/glyphs_white.png") no-repeat -168px -27px;
}

.usericon {
    height: 16px;
    width: 16px;
    margin-right: 2px;
    margin-top: -2px;
    display: inline;
    display: inline-block;
    background: url("../img/user_icon_16px.png");
}


/* hiding standard JBrowse Help->About menuitem */
#menubar_about {
    display: none;
}
