@CHARSET "UTF-8";

.history_div {
	font-size: 9px;
}

.history_table {
	font-size: 1.5em;
/*	max-width: 47em; */
}

.history_header_column {
	font-weight: bold;
	text-decoration: underline;
}
.history_set{
	text-align: left;
	margin-right: auto;
}

.history_column_operation {
	width: 17em !important;
}

.history_column_action{
	width: 5em !important;
}

.history_column {
	width: 15em;
	display: inline-block;
	background-color: inherit;
}

.history_row_selected  {
	background-color: #4169e1;
	color: white;
}

.history_row:hover  {
	background-color: #000099;
	color: white;
}

.history_row_current {
	background-color: #787878;
	color: white;
}

.history_rows {
	max-height: 10em;
	overflow-y: auto;
}

.history_column_date {
	max-width: 10em;
}

.history_preview {
	width: 45em;
	height: 2em;
	padding-top: 3em;
}

.revert_button.dijitButton .dijitButtonNode {
	padding: 0px;
	margin: 0px;
}
