@CHARSET "UTF-8";

.get_sequence {
	font-size:10px;
}

.gff3_area{
	width: 50em;
	height: 20em;
	font-family: 'courier';
	font-size: 1.0em;
}

.sequence_area {
	width: 60em;
	height: 20em;
	font-family: 'courier';
	font-size: 1.5em;
}

.first_button_div {
	margin-top: 10px;
}

.button_div {
	margin-top: 5px;
}

.button_label {
	margin-left: 3px;
}

.button_field {
	margin-left: 3px;
}