@CHARSET "UTF-8";

.get_sequence {
	font-size:10px;
	width: 550px;
}

.gff3_area{
	width: 50em;
	height: 20em;
	font-family: 'courier', monospace;
	font-size: 1.0em;
}

.sequence_area {
	width: 100%;
	height: 20em;
	font-family: 'courier', monospace;;
	font-size: 1.5em;
}

.first_button_div {
	margin-top: 10px;
}

.button_div {
	margin-top: 5px;
}

.button_label {
	margin-left: 3px;
}

.button_field {
	margin-left: 3px;
}

.copy_clipboard_button{
	margin-bottom: 10px;
	display: inline;
}

.copy_value_label{
	margin-bottom: 10px;
	margin-left: 10px;
	display: inline;
}
