@CHARSET "UTF-8";

.jbrowse .get_sequence {
	font-size:10px;
}

.jbrowse .gff3_area{
	width: 50em;
	height: 20em;
	font-family: 'courier';
	font-size: 1.0em;
}

.jbrowse .sequence_area {
	width: 60em;
	height: 20em;
	font-family: 'courier';
	font-size: 1.5em;
}

.jbrowse .first_button_div {
	margin-top: 10px;
}

.jbrowse .button_div {
	margin-top: 5px;
}

.jbrowse .button_label {
	margin-left: 3px;
}

.jbrowse .button_field {
	margin-left: 3px;
}