.jbrowse .webapolloInformationEditor {
    background: #fafafa;
    overflow: auto;
}
.jbrowse .webapolloInformationEditor > .header > h2.title {
    padding: 7px 0 0.5em 6px;
    margin: 0;
}
.jbrowse .webapolloInformationEditor .trackCount {
    display: inline-block;
    float: right;
}

.jbrowse .webapolloInformationEditor > .header > .textfilterContainer {
    padding: 0 5px 5px 5px;
}
.jbrowse .webapolloInformationEditor > .header > .textfilterContainer > .textfilter {
    margin: 0;
}

.jbrowse .webapolloInformationEditor .dijitTitlePaneTitle {
    padding: 0 4px;
}

.jbrowse .webapolloInformationEditor .dijitTitlePaneTitleFocus:focus {
    outline: none;
}

.jbrowse .webapolloInformationEditor label.tracklist-label {
    display: block;
}
.jbrowse .webapolloInformationEditor > .information_list {
    background: white;
    padding: 10px;
    border: 1px solid #bfbfbf;
}
.jbrowse .webapolloInformationEditor label.tracklist-label:hover {
    background: #D2E1F1;
}
.jbrowse .webapolloInformationEditor label.tracklist-label.collapsed {
    display: none;
}

.jbrowse .webapolloInformationEditor label.tracklist-label input.check {
    position: relative;
    top: 2px;
    margin: 0 4px;
}
.jbrowse .dj_safari .webapolloInformationEditor label.tracklist-label input.check {
    top: 0;
}

#hierarchicalTrackPane_splitter {
    background: #fafafa;
    width: 5px;
    border-right: 1px solid #555;
}
