@import url("../jslib/jqueryui/themes/base/jquery.ui.all.css");
@import url("genome.css");
@import url("webapollo_track_styles.css");
@import url("add_sequence_alteration.css");
@import url("edit_dbxrefs.css");
@import url("edit_comments.css");
@import url("get_sequence.css");
@import url("search_sequence.css");
@import url("get_history.css");
@import url("export.css");
/* for now, maker.css is not loaded by default
   to use maker.css without modifying this file, just add 
           "css": "plugins/WebApollo/css/maker.css"
   entry in configuration (usually in trackList.json)  */
/* @import url("maker.css"); */
@import url("custom_track_styles.css");
