/*MAKER CSS with colors for common features*/

/*SNAP*/
.jbrowse .snap-exon,
.jbrowse .plus-snap-exon,
.jbrowse .minus-snap-exon,
.jbrowse .snap-five_prime_UTR,
.jbrowse .plus-snap-five_prime_UTR,
.jbrowse .minus-snap-five_prime_UTR,
.jbrowse .snap-three_prime_UTR,
.jbrowse .plus-snap-three_prime_UTR,
.jbrowse .minus-snap-three_prime_UTR {
    position: absolute;
    height: 7px;
    background-color: #99FFCC;
    border-style: solid;
    border-color: #D88;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}
.jbrowse .Apollo .snap-exon,
.jbrowse .Apollo .plus-snap-exon,
.jbrowse .Apollo .minus-snap-exon,
.jbrowse .Apollo .snap-five_prime_UTR,
.jbrowse .Apollo .plus-snap-five_prime_UTR,
.jbrowse .Apollo .minus-snap-five_prime_UTR,
.jbrowse .Apollo .snap-three_prime_UTR,
.jbrowse .Apollo .plus-snap-three_prime_UTR,
.jbrowse .Apollo .minus-snap-three_prime_UTR {
    position: absolute;
    height: 80%;
    top: 10%;
    background-color: #99DDCC;
    border: 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}
/*Augustus*/
.jbrowse .augustus-exon,
.jbrowse .plus-augustus-exon,
.jbrowse .minus-augustus-exon,
.jbrowse .augustus-five_prime_UTR,
.jbrowse .plus-augustus-five_prime_UTR,
.jbrowse .minus-augustus-five_prime_UTR,
.jbrowse .augustus-three_prime_UTR,
.jbrowse .plus-augustus-three_prime_UTR,
.jbrowse .minus-augustus-three_prime_UTR {
    position: absolute;
    height: 7px;
    background-color: #FFCCFF;
    border-style: solid;
    border-color: #D88;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}



.jbrowse .Apollo .augustus-exon,
.jbrowse .Apollo .plus-augustus-exon,
.jbrowse .Apollo .minus-augustus-exon,
.jbrowse .Apollo .augustus-five_prime_UTR,
.jbrowse .Apollo .plus-augustus-five_prime_UTR,
.jbrowse .Apollo .minus-augustus-five_prime_UTR,
.jbrowse .Apollo .augustus-three_prime_UTR,
.jbrowse .Apollo .plus-augustus-three_prime_UTR,
.jbrowse .Apollo .minus-augustus-three_prime_UTR {
    position: absolute;
    height: 80%;
    top: 10%;
    background-color: #FFCCFF;
    border-style: solid;
    border-color: #D88;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}
/*GeneMark*/
.jbrowse .Apollo .genemark-exon,
.jbrowse .Apollo .plus-genemark-exon,
.jbrowse .Apollo .minus-genemark-exon,
.jbrowse .Apollo .genemark-five_prime_UTR,
.jbrowse .Apollo .plus-genemark-five_prime_UTR,
.jbrowse .Apollo .minus-genemark-five_prime_UTR,
.jbrowse .Apollo .genemark-three_prime_UTR,
.jbrowse .Apollo .plus-genemark-three_prime_UTR,
.jbrowse .Apollo .minus-genemark-three_prime_UTR {
    position: absolute;
    height: 80%;
    top: 10%;
    background-color: #679B68;
    border-style: solid;
    border-color: #D88;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}


/*GeneMark*/
.jbrowse .genemark-exon,
.jbrowse .plus-genemark-exon,
.jbrowse .minus-genemark-exon,
.jbrowse .genemark-five_prime_UTR,
.jbrowse .plus-genemark-five_prime_UTR,
.jbrowse .minus-genemark-five_prime_UTR,
.jbrowse .genemark-three_prime_UTR,
.jbrowse .plus-genemark-three_prime_UTR,
.jbrowse .minus-genemark-three_prime_UTR {
    position: absolute;
    height: 7px;
    background-color: #679B68;
    border-style: solid;
    border-color: #D88;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*FGENESH*/
.jbrowse .Apollo .fgenesh-exon,
.jbrowse .Apollo .plus-fgenesh-exon,
.jbrowse .Apollo .minus-fgenesh-exon,
.jbrowse .Apollo .fgenesh-five_prime_UTR,
.jbrowse .Apollo .plus-fgenesh-five_prime_UTR,
.jbrowse .Apollo .minus-fgenesh-five_prime_UTR,
.jbrowse .Apollo .fgenesh-three_prime_UTR,
.jbrowse .Apollo .plus-fgenesh-three_prime_UTR,
.jbrowse .Apollo .minus-fgenesh-three_prime_UTR {
    position: absolute;
    height: 7px;
    background-color: #FF99FF;
    border-style: solid;
    border-color: #D88;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}



/*FGENESH*/
.jbrowse .fgenesh-exon,
.jbrowse .plus-fgenesh-exon,
.jbrowse .minus-fgenesh-exon,
.jbrowse .fgenesh-five_prime_UTR,
.jbrowse .plus-fgenesh-five_prime_UTR,
.jbrowse .minus-fgenesh-five_prime_UTR,
.jbrowse .fgenesh-three_prime_UTR,
.jbrowse .plus-fgenesh-three_prime_UTR,
.jbrowse .minus-fgenesh-three_prime_UTR {
    position: absolute;
    height: 7px;
    background-color: #FF99FF;
    border-style: solid;
    border-color: #D88;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*protein2genome*/
.jbrowse .Apollo .protein2genome_part,
.jbrowse .Apollo .plus-protein2genome_part,
.jbrowse .Apollo .minus-protein2genome_part {
    position: absolute;
    height: 60%;
    margin-top: 0px;
    top: 20%;
    background-color: #FFFF00;
    border-style: solid;
    border-color: #6E6E6E;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}
/*protein2genome*/
.jbrowse .protein2genome_part,
.jbrowse .plus-protein2genome_part,
.jbrowse .minus-protein2genome_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #FFFF00;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*BLASTN*/
.jbrowse .blastn_part,
.jbrowse .plus-blastn_part,
.jbrowse .minus-blastn_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #66CC00;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*BLASTN*/
.jbrowse .Apollo .blastn_part,
.jbrowse .Apollo .plus-blastn_part,
.jbrowse .Apollo .minus-blastn_part {
    position: absolute;
    height: 60%;
    margin-top: 0px;
    top: 20%;
    background-color: #66CC00;
    border-style: solid;
    border-color: #6E6E6E;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}
/*BLASTX*/
.jbrowse .blastx_part,
.jbrowse .plus-blastx_part,
.jbrowse .minus-blastx_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #FF00FF;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*BLASTX*/
.jbrowse .Apollo .blastx_part,
.jbrowse .Apollo .plus-blastx_part,
.jbrowse .Apollo .minus-blastx_part {
    position: absolute;
    height: 60%;
    margin-top: 0;
    top: 20%;
    background-color: #FF00FF;
    border-style: solid;
    border-color: #6E6E6E;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}



/*TBLASTX*/
.jbrowse .tblastx_part,
.jbrowse .plus-tblastx_part,
.jbrowse .minus-tblastx_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #663366;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*TBLASTX*/
.jbrowse .Apollo .tblastx_part,
.jbrowse .Apollo .plus-tblastx_part,
.jbrowse .Apollo .minus-tblastx_part {
    position: absolute;
    height: 60%;
    margin-top: 0px;
    top: 20%;
    background-color: #663366;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*est2genome*/
.jbrowse .est2genome_part,
.jbrowse .plus-est2genome_part,
.jbrowse .minus-est2genome_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #FAFAD2;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}


/*est2genome*/
.jbrowse .Apollo .est2genome_part,
.jbrowse .Apollo .plus-est2genome_part,
.jbrowse .Apollo .minus-est2genome_part {
    position: absolute;
    height: 60%;
    top: 20%;
    margin-top: 0px;
    background-color: #FAFAD2;
    border-style: solid;
    border-color: #6E6E6E;
    z-index: 8;
    min-width: 1px;
}

/*repeat*/
.jbrowse .repeat_part,
.jbrowse .plus-repeat_part,
.jbrowse .minus-repeat_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #FF0000;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}
/*repeat*/
.jbrowse .Apollo .repeat_part,
.jbrowse .Apollo .plus-repeat_part,
.jbrowse .Apollo .minus-repeat_part {
    position: absolute;
    height: 60%;
    top: 20%;
    margin-top: 0px;
    background-color: #FF0000;
    border-style: solid;
    border-color: #6E6E6E;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}


/*cdna2genome*/
.jbrowse .cdna2genome_part,
.jbrowse .plus-cdna2genome_part,
.jbrowse .minus-cdna2genome_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #8C468C;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}



/*cdna2genome*/
.jbrowse .Apollo .cdna2genome_part,
.jbrowse .Apollo .plus-cdna2genome_part,
.jbrowse .Apollo .minus-cdna2genome_part {
    position: absolute;
    height: 60%;
    margin-top: 0px;
    top: 20%;
    background-color: #8C468C;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}




/*cdna2genome*/
.jbrowse .Apollo .exon,
.jbrowse .Apollo .minus-exon,
.jbrowse .Apollo .plus-exon {
    position: absolute;
    height: 60%;
    margin-top: 0px;
    top: 20%;
    background-color: #6C468C;
    border: 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}


/*cdna2genome*/
.jbrowse .Apollo .CDS {
    position: absolute;
    height: 80%;
    margin-top: 0px;
    top: 10%;
    background-color: #8C468C;
    border: 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}


.jbrowse .Apollo .feature {
    background-image: none;
}
 
.jbrowse .Apollo .generic_parent {
    background-image: none;
}

.jbrowse .Apollo .transcript, .plus-transcript, .minus-transcript {
    background: white;
}

.jbrowse .Apollo .plus-feature {
    background-color: transparent;
}
.jbrowse .Apollo .minus-feature {
    background-color: transparent;
}
