/* styles for MAKER tracks and additional customization of WebApollo */

div.track  {
   /* based on CoolWorld color palette from kuler.adobe.com */
   background-color: #142933;
}


div.track_annotations {
   /* based on CoolWorld color palette from kuler.adobe.com */
    background-color: #FFF7cc;
    /* background-color: #FFFFDD; */
}

div.track_dna {
    background-color: #FFF7cc;
}

div#overviewtrack_overview_loc_track {
    background-color: transparent;
}

div#gridtrack {
    background-color: transparent;
}

div.gridline_major {
/*    border-color: #bbb; */
    border-color: transparent;
}

div.gridline_minor {
/*    border-color: #eee; */
    border-color: transparent;
}

.feature-label {
    color: gray;
}

.plus-trellis-arrowhead,
.plus-webapollo-arrowhead,
.plus-annot-arrowhead {
    background-image: url('../img/plus-arrowhead.png');
}

.minus-trellis-arrowhead,
.minus-webapollo-arrowhead,
.minus-annot-arrowhead {
    background-image: url('../img/minus-arrowhead.png');
}

.annot-render {
    /* height: 4px; original MAKER choice */
    /* margin-top: 6px; original MAKER choice */
    /* background-color: #0460d9; original color choice based on kuler.adobe.com */
    /* adjusted background-color, height, margin-top to better see DNA residues overlay when zoomed in */
    height: 6px;
    margin-top: 5px;
    background-color: #A4BBFF; 
}
 
.annot-CDS, 
.plus-annot-CDS,
.minus-annot-CDS {
    height: 16px;
    margin-top: 0px; 
    /* background-color: #0460d9; original color choice based on kuler.adobe.com */
    background-color: rgb(79, 134, 207);  /* adjusted to better see DNA residues overlay when zoomed in */
    border: 2px solid rgb(15,66,133);
}

.annot-UTR, 
.plus-annot-UTR, 
.minus-annot-UTR {
    height: 16px; 
    margin-top: 0px; 
    background-color: #FFF7cc;
    border: 2px solid rgb(15,66,133);
}

/*  nucleotide alignments from MAKER */
.blastn-part, 
.plus-blastn-part, 
.minus-blastn-part  {
    background-color: rgb(102,204,0);
}

.est2genome-part, 
.plus-est2genome-part, 
.minus-est2genome-part   {
    background-color: rgb(250,250,210);
}

.est_gff-part, 
.plus-est_gff-part, 
.minus-est_gff-part  {
    background-color: rgb(251,255,179);
}

/*  protein alignments from MAKER */
.blastx-part, 
.plus-blastx-part, 
.minus-blastx-part  {
    background-color: pink;
}

.protein2genome-part, 
.plus-protein2genome-part, 
.minus-protein2genome-part  {
    background-color: rgb(102,204,0);
}

/* ???? not found in gff3.tiers 
.protein_gff-part, 
.plus-protein_gff-part, 
.minus-protein_gff-part  {

}
*/

.tblastx-part, 
.plus-tblastx-part, 
.minus-tblastx-part  {
    background-color: rgb(102,51,102);
}

/*  ????  couldn't find in gff3.tiers
.cdna2genome-part, 
.plus-cdna2genome-part, 
.minus-cdna2genome-part  {

}
*/

/*  ????  couldn't find in gff3.tiers
.altest_gff-part, 
.plus-altest_gff-part, 
.minus-altest_gff-part  {

}
*/

.gvf,
.plus-gvf,
.minus-gvf  {
    height: 16px;
    background-color: pink;
    min-width: 4px;
}

.maker-CDS  {
    height: 80%;
    top: 10%;
    background-color: rgb(51,102,255);
}

.maker-UTR {
    height: 80%;
    top: 10%;
    border-style: solid;
    border-color: rgb(51,102,255);
    border-width: 1px;
    background-color: #142933;
}

.augustus-CDS {
    height: 80%;
    top: 10%;
    background-color: rgb(255,204,255);
}

.augustus-UTR {
    height: 80%;
    top: 10%;
    border: 1px solid rgb(255,204,255);
    background-color: #142933;
}

.snap-CDS {
    height: 80%;
    top: 10%;
    background-color: rgb(153,255,204);
}

.snap-UTR {
    height: 80%;
    top: 10%;
    border: 1px solid rgb(153,255,204);
    background-color: #142933;
}

.genemark-CDS {
    height: 80%;
    top: 10%;
    background-color: rgb(103,155,104);
}

.genemark-UTR {
    height: 80%;
    top: 10%;
    border: 1px solid rgb(103,155,104);
    background-color: #142933;
}

/* ???? not sure about pred_gff, same as GeneMark? 
.pred_gff-CDS {
    height: 80%;
    top: 10%;
    background-color: rgb(103,155,104);
}
.pred_gff-UTR {
    height: 80%;
    top: 10%;
    border: 1px solid rgb(103,155,104);
    background-color: #142933;
}
*/

/* ???? couldn't find model_gff in gff3.tiers 
.model_gff-CDS {

}
.model_gff-UTR {
    height: 80%;
    top: 10%;
    border: 1px solid rgb(103,155,104);
    background-color: #142933;
}
*/

.fgenesh-CDS {
    height: 80%;
    top: 10%;
    background-color: rgb(55,153,255);
}

.fgenesh-UTR {
    height: 80%;
    top: 10%;
/*    background-color: rgb(255,204,255); */
    border-style: solid;
    border-color: rgb(255,153,255);
    border-width: 1px;
    background-color: #142933;
}

/*  for MAKER repeatmasker, using just regular render-class (gray line) */
/*  ???? for MAKER repeat_gff, just use regular render-class (gray line)? */

/*  ???? repeatrunner is different than repeatmasker in gff3.tiers, 
    should we make it different also for webapollo?
.repeatrunner, 
.plus-repeatrunner, 
.minus-repeatrunner  {
}
*/

.left-edge-match  {
    border-left: solid red 3px;
}

.right-edge-match  {
    border-right: solid red 3px;
}

.cds-frame0 {
    background-color: #FF8080;
}

.cds-frame1 {
    background-color: #80FF80; 
}

.cds-frame2 {
    background-color: #8080FF;
}


.neg-cds-frame0 {
    background-color: #8080FF;
}

.neg-cds-frame1 {
    background-color: #80FF80;
}

.neg-cds-frame2 {
    background-color: #FF8080;
}

/* end of MAKER styles */