/* styles for MAKER tracks and additional customization of WebApollo */

div.track  {
    /* based on CoolWorld color palette from kuler.adobe.com */
    /*background-color: #142933;*/
}

div.pin_underlay {
    background-color: #142933;
}

div.feature_name {
    color: #FAFFF9 !important;
}

div.outerTrackContainer {

    background-color: rgb(59, 59, 61);
}

div.ruler.vertical_ruler>div>svg>g>line {
    stroke : red;
}

div.ruler.vertical_ruler>div>div>div[style] {
    color: red !important;
}

div.gridline_major {

    border-color : rgb(41,40,38);
}

div.gridline_minor {

    border-color : rgba(96,96, 104, 0.72);

}


div#overviewtrack_overview_loc_track {
    background-color: transparent;
}

div#gridtrack {
    background-color: transparent;
}


.feature-label {
    color: #FAFFF9;
}

div.track_annotations {
    background-color: #70D2D0 !important;
}

/* UI elements */
div.locationTrap {
    background-color: white;
}

.pin_underlay.track.block {
    background-color: rgb(59, 59, 61);
}

.dna-residues.forward-strand,
.dna-residues.reverse-strand {
    background-color: transparent;
}

div.wa-sequence .dna-residues.forward-strand {
    color: rgb(240, 240, 240);
    z-index: 5;
}

div.wa-sequence .dna-residues.reverse-strand {
    color: rgb(170, 169, 169);
    z-index: 5;
}
/*  nucleotide alignments from MAKER */
.blastn-part,
.plus-blastn-part,
.minus-blastn-part  {
    background-color: rgb(102,204,0);
}

.est2genome-part,
.plus-est2genome-part,
.minus-est2genome-part   {
    background-color: rgb(250,250,210);
}

.est_gff-part,
.plus-est_gff-part,
.minus-est_gff-part  {
    background-color: rgb(251,255,179);
}

.mike-repeat-part,
.plus-mike-repeat-part,
.minus-mike-repeat-part  {
    background-color: rgb(255,0,0);
}

.mike-snap-part,
.plus-mike-snap-part,
.minus-mike-snap-part  {
    background-color: rgb(153,255,204);
}

.mike-augustus-part,
.plus-mike-augustus-part,
.minus-mike-augustus-part  {
    background-color: rgb(255,204,255);
}

/*  protein alignments from MAKER */
.blastx-part,
.plus-blastx-part,
.minus-blastx-part  {
    background-color: pink;
}

.protein2genome-part,
.plus-protein2genome-part,
.minus-protein2genome-part  {
    background-color: rgb(255,255,0);
}

/* ???? not found in gff3.tiers
.protein_gff-part,
.plus-protein_gff-part,
.minus-protein_gff-part  {
}
*/

.tblastx-part,
.plus-tblastx-part,
.minus-tblastx-part  {
    background-color: rgb(102,51,102);
}

/*  ????  couldn't find in gff3.tiers
.cdna2genome-part,
.plus-cdna2genome-part,
.minus-cdna2genome-part  {
}
*/

/*  ????  couldn't find in gff3.tiers
.altest_gff-part,
.plus-altest_gff-part,
.minus-altest_gff-part  {
}
*/

.maker-CDS  {
    height: 80%;
    top: 10%;
    background-color: rgb(51,102,255);
}

.maker-UTR {
    height: 80%;
    top: 10%;
    border-style: solid;
    border-color: rgb(51,102,255);
    border-width: 1px;
    background-color: #142933;
}

.upd-CDS  {
    height: 80%;
    top: 10%;
    background-color: rgb(0,204,0);
}

.upd-UTR {
    height: 80%;
    top: 10%;
    border-style: solid;
    border-color: rgb(0,204,0);
    border-width: 1px;
    background-color: #142933;
}

.TAIR-CDS  {
    height: 80%;
    top: 10%;
    background-color: rgb(255,140,0);
}

.TAIR-UTR {
    height: 80%;
    top: 10%;
    border-style: solid;
    border-color: rgb(255,140,0);
    border-width: 1px;
    background-color: #142933;
}

.TAIR-CDS  {
    height: 80%;
    top: 10%;
    background-color: rgb(255,140,0);
}

.TAIR-UTR {
    height: 80%;
    top: 10%;
    border-style: solid;
    border-color: rgb(255,140,0);
    border-width: 1px;
    background-color: #142933;
}

.psu-CDS  {
    height: 80%;
    top: 10%;
    background-color: rgb(153,0,76);
}

.psu-UTR {
    height: 80%;
    top: 10%;
    background-color: rgb(153,0,76);
}

.nc-CDS  {
    height: 80%;
    top: 10%;
    background-color: rgb(255,0,127);
}

.nc-UTR {
    height: 80%;
    top: 10%;
    background-color: rgb(255,0,127);
}

.alt-CDS  {
    height: 80%;
    top: 10%;
    background-color: rgb(138,43,226);
}

.alt-UTR {
    height: 80%;
    top: 10%;
    border-style: solid;
    border-color: rgb(138,43,226);
    border-width: 1px;
    background-color: #142933;
}


.snap-CDS {
    height: 80%;
    top: 10%;
    background-color: rgb(153,255,204);
}

.snap-UTR {
    height: 80%;
    top: 10%;
    border: 1px solid rgb(153,255,204);
    background-color: #142933;
}

.genemark-CDS {
    height: 80%;
    top: 10%;
    background-color: rgb(103,155,104);
}

.genemark-UTR {
    height: 80%;
    top: 10%;
    border: 1px solid rgb(103,155,104);
    background-color: #142933;
}

/* ???? not sure about pred_gff, same as GeneMark?
.pred_gff-CDS {
    height: 80%;
    top: 10%;
    background-color: rgb(103,155,104);
}
.pred_gff-UTR {
    height: 80%;
    top: 10%;
    border: 1px solid rgb(103,155,104);
    background-color: #142933;
}
*/

/* ???? couldn't find model_gff in gff3.tiers
.model_gff-CDS {
}
.model_gff-UTR {
    height: 80%;
    top: 10%;
    border: 1px solid rgb(103,155,104);
    background-color: #142933;
}
*/

.fgenesh-CDS {
    height: 80%;
    top: 10%;
    background-color: rgb(55,153,255);
}

.fgenesh-UTR {
    height: 80%;
    top: 10%;
    /*    background-color: rgb(255,204,255); */
    border-style: solid;
    border-color: rgb(255,153,255);
    border-width: 1px;
    background-color: #142933;
}

/*  for MAKER repeatmasker, using just regular render-class (gray line) */
/*  ???? for MAKER repeat_gff, just use regular render-class (gray line)? */

/*  ???? repeatrunner is different than repeatmasker in gff3.tiers,
    should we make it different also for webapollo?
.repeatrunner,
.plus-repeatrunner,
.minus-repeatrunner  {
}
*/

.left-edge-match  {
    border-left: solid red 3px;
}

.right-edge-match  {
    border-right: solid red 3px;
}

/* end of MAKER styles */