@CHARSET "UTF-8";

@import "../../src/main/webapp/jslib/DataTables/css/demo_table.css";

#tracks {
	width: 100%
}

#tracks_div {
	width:90%
}

.adapter_button {
	vertical-align: middle;
	width: 2em;
}

#menu {
	background: #396494;
	margin-bottom: 10px;
}

.logo_container {
	padding: 0 0 0 0;
}

#logo {
	height: 2.2em; /*84%;*/
/*	width: 84%; */
	float: left;
}

#checkbox_menu_div {
	width: 8%;
	padding-bottom: 10px;
}

.ui-menu {
	z-index: 1;
}

#user_item_menu {
	float: right;
}

.ui-menubar .ui-menubar-link {
	color: white;
}

.ui-menubar .ui-button,
.ui-menu .ui-menu-item a {
	font-size: 14px;
}

#login_dialog {
	font-size: 14px;
}

.usericon {
	height: 16px;
	width: 16px;
	margin-right: 2px;
	margin-top: -2px;
	display: inline;
	display: inline-block;
	background: url("../../src/main/webapp/images/user_icon_16px.png");
}

/*
.ui-menubar .ui-menu {
	color: white;
}

.ui-menu .ui-menu-item a {
	color:white;
	background: #396494;
}

.ui-widget .ui-widget {
	background: #396494;
}
*/

/*
.ui-state-active, .ui-button {
	background: #396494;
}

#file_item {
	color: white
}
*/

/*
td {
	padding-right: 5em;
}

button {
	white-space: nowrap;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#export_gff_loading {
	padding-bottom: 20px;
}

#export_gff_message {
	text-align: center;
}
*/
