/** Add css rules here for your application. */
/**
*= require_self
*= require bootstrap
*/

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.details-header{
  background-color: #cccccc;
  width: 100%;
  border-top: 0;
  /*display: inline-block;*/
}

.details-button{
  /*width: 10px;*/
  display: inline-table;
  cursor: pointer;
  /*border-top: 0;*/
}

.details-header-title{
  /*background-color: #808080;*/
  font-size: larger;
  width: 20%;
  /*margin-top: 5px;*/
  margin-left: 10px;
  text-align: left;
  font-weight: 200;
  /*width: 100%;*/
  /*border: solid;*/
  display: inline-table;
}
