/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require bootstrap
*= require font-awesome.min.css
*= require_self
*/

.apollo-header{
   background-color: #396494;
   padding-left: 12px;
}

.apollo-dropdown{
   background-color: #ddd;
}


.navbar {
    margin-bottom: 0px;
    min-height: 25px;
}


.btn {
    padding: 3px;
}


