@import url(http://fonts.googleapis.com/css?family=Open+Sans);
footer {
    margin-top: 80px;
    padding: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background: #2e3a40;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(46, 58, 64);
    color: #dcf3ff;
    width: 100% !important;
    text-align: center;
}

#footer a {
    color: #ef6c00;
    text-decoration: none;
}

